@font-face {
  font-family: digital-7;
  src: local("digital-7"), url("./fonts/digital-7.ttf") format("truetype");
}

.container-fluid{
  background-color: grey;
  display: flex;
  height: 100vh;
  place-content: center;

}

.calculator{
  background-color: black;
  font-family: digital-7, serif;
  font-size: 200%;
  min-height: 60vh;
  width: 40vh;
  display: grid;
  border: solid #282c34;
  grid-template-columns:   25%  25%  25%  25%;
  grid-template-rows:   minmax(10%, auto)  10%  16%  16%  16%  16%  16%;
  grid-template-areas:
  "calcHistory calcHistory calcHistory calcHistory"
  "currentInput currentInput currentInput currentInput"
  "AC AC divide multiply"
  "seven eight nine subtract"
  "four five six add"
  "one two three equals"
  "zero zero decimal equals";
}


.calcHistory{
  display: flex;
  justify-content: flex-end;
  float: top;
  align-items: center;
  color: orange;
  background-color: black;
  grid-area: calcHistory;
  margin-bottom: 1%;
  font-size: 80%;

}

.currentInput{
  display: flex;
  color: whitesmoke;
  background-color: transparent;
  grid-area: currentInput;
  place-self: stretch;
  justify-content: flex-end;
  align-items: center;

}

.action{
  background-color: grey;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

#clear{
  grid-area: AC;
}

#divide{
  grid-area: divide;
}

#multiply{
  grid-area: multiply;
}

#subtract{
  grid-area: subtract;

}

#add{
  grid-area: add
}

#equals{
  grid-area: equals;
}

#decimal{
  grid-area: decimal;
}

#one{
  grid-area: one;
}

#two{
  grid-area: two;
}

#three{
  grid-area: three;
}

#four{
  grid-area: four;
}

#five{
  grid-area: five;
}

#six{
  grid-area: six;
}

#seven{
  grid-area: seven;
}

#eight{
  grid-area: eight;
}

#nine{
  grid-area: nine;
}

#zero{
  grid-area: zero;
}

.btn-op{
  background-color: lightskyblue;
}

.btn-equals{
  background-color: royalblue;
}

.btn-clear{
  background-color: steelblue;
}

.btn{
  font-size: 120%;
  border: solid #282c34;
}


